<!-- nice partial structure -->

<p>
  <strong>Name: </strong>
  <%= character.name %>
</p>

<p>
  <strong>Description: </strong>
  <%= character.description %>
</p>

<img class="character_pics" src="<%= character.img_url %>">

<p>
  <%= link_to 'Kill Character', [character.house, character],
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
</p>
